<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration status="off">
    <Properties>
        <Property name="standard">%-5p %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%F:%L) %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${standard}"/>
        </Console>
        <RollingFile name="appRollingFile" immediateFlush="true"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyyMMdd}-%i.zip">
            <PatternLayout pattern="${standard}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="max" min="1" max="9"/>
        </RollingFile>
        <RollingFile name="sqlRollingFile" immediateFlush="true"
                     fileName="logs/sql.log"
                     filePattern="logs/sql-%d{yyyyMMdd}-%i.zip">
            <PatternLayout pattern="${standard}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="max" min="1" max="9"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="console"/>
            <AppenderRef ref="appRollingFile"/>
        </Root>
        <Logger name="jp.taira.sample" level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="appRollingFile"/>
        </Logger>

        <Logger name="org.apache.catalina.webresources.Cache" level="error" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="appRollingFile"/>
        </Logger>
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="appRollingFile"/>
        </Logger>
    </Loggers>
</configuration>
